@model Practica_Empresarial.Models.AsignarEvento
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function previewFile() {
        var preview = document.querySelector('img');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 fade-up">
                    <div class="blog">
                        <div class="blog-item">
                            <div class="blog-content">
                                @using (Html.BeginForm("CrearEvento", "Administrador", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4 class="center">@ViewBag.TituloIngreso</h4>
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Nombre: </h4>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NombreEvento, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NombreEvento, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Descripcion: </h4>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Estado: </h4>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Estado, (IEnumerable<SelectListItem>)ViewBag.ListaEstado)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.FechaInicio: </h4>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control datepicker", Value = ViewBag.Tiempo, @type = "date" } })
                                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.FechaFinal: </h4>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control datepicker", Value = ViewBag.Tiempo, @type = "date" } })
                                                @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Imagen: </h4>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Imagen, new { type = "file", onchange = "previewFile()" })
                                                @Html.ValidationMessageFor(m => m.Imagen, "", new { @class = "text-danger" })
                                                <img src="" height="400" alt="Imagen a Mostrar">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Ingresar" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <hr />
                                <div>
                                    <h4>
                                        @Html.ActionLink("Volver a Lista de Eventos", "Evento")
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}