@model Practica_Empresarial.Datos.PA_SelectProductos_Result
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 fade-up">
                    <div class="blog">
                        <div class="blog-item">
                            <div class="blog-content">
                                <div class="form-horizontal">
                                    <h3 class="center"> @ViewBag.TituloEliminar</h3>
                                    <hr />
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Categoria: </h4>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.NombreCategoria)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Nombre: </h4>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.NombreProducto)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Descripcion: </h4>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.Descripcion)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="main-title">@ViewBag.Estado: </h4>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.NombreEstado)
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("EliminarProducto", "Administrador", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.ID_Producto)
                                            <div class="form-actions no-color center">
                                                <input type="submit" value="Borrar" class="btn btn-default" />
                                            </div>
                                        }
                                        <div>
                                            <h4>
                                                @Html.ActionLink("Volver a la Lista", "Productos")
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
