@model IEnumerable<Practica_Empresarial.Datos.PA_SelectEvento_Result>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="blog">
                <div class="blog-item">
                    <div class="blog-content">
                        <h4>
                            @Html.ActionLink("Ingresar Nuevo Evento", "CrearEvento")
                        </h4>
                        <hr />
                        <div class="gap"></div>
                        <ul class="portfolio-items col-3 isotope fade-up">
                            @foreach (var item in Model)
                            {
                                <li class="portfolio-item apps isotope-item">
                                    <div class="item-inner">
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Imagen_)" />
                                        <h5 class="center">@ViewBag.Nombre : @Html.DisplayFor(modelItem => item.NombreEvento)</h5>
                                        <hr />
                                        <h6>@ViewBag.Descripcion : @Html.DisplayFor(modelItem => item.Descripcion)</h6>
                                        <hr />
                                        <h6>@ViewBag.Estado : @Html.DisplayFor(modelItem => item.NombreEstado)</h6>
                                        <hr />
                                        <h6>@ViewBag.FechaInicio : @Html.DisplayFor(modelItem => item.Fecha_Inicio)</h6>
                                        <hr />
                                        <h6>@ViewBag.FechaFinal : @Html.DisplayFor(modelItem => item.Fecha_Final)</h6>
                                        <hr />
                                        <h6 class="center">
                                            @Html.ActionLink("Editar", "EditarEvento", new { id = item.ID_Evento }) |
                                            @Html.ActionLink("Eliminar", "EliminarEvento", new { id = item.ID_Evento })
                                        </h6>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
